<div class="animate__animated animate__fadeIn">
  <h2>Por País</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-pais-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias($event)" placeholder="Buscar país...">
      </app-pais-input>
    </div>
  </div>

  <ul *ngIf="mostrarSugerencia" class="list-group">
    <li *ngFor="let paisSugerido of paisesSugeridos" class="list-group-item list-group-item-action">
      <a class="nav-link animate__animated animate__fadeIn"
        [routerLink]="[ '/pais', paisSugerido.alpha2Code ]">{{paisSugerido.name}}</a>
    </li>
    <li class="list-group-item list-group-item-action bg-secondary">
      <a (click)="buscarSugerido(termino)" class="nav-link animate__animated animate__fadeIn text-white">
        Buscar todo con "{{termino}}"
      </a>
    </li>
  </ul>
  <hr>
</div>

<div *ngIf="hayError" class="alert alert-danger animate__animated animate__shakeX">
  No se encontró nada con el término {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>